nav {
	text-align: right;
}
h1>a{
    color: red;
}
h1 {
	text-align: center;
	text-decoration: underline;
}
#elon {
	padding-left: 200px;
	width: 200px;
	height: 200px;
}
.box{
	width: 100%;
	height: 100%;

}
section {
	padding: 10px
}
.leftBox {
	float: left;
	width: 50%;

}
.rightBox {
	float: left;
	width: 50%;
}
#Child h3{
    text-align: center;
}
#Zip2 h3 {
	text-align:center;
}

#ComFou h3{
    width: 100%;
    text-align: center;
    text-decoration: underline;

}
p {
	color: blue;
}

#X h3 {
    text-align: center;
}

#spacex h3 {
    text-align: center;
}
#Awards h3 {
    text-align: center;
    text-decoration: underline;
}
#PopMedia h3{
    text-align: center;
    text-decoration: underline;
}
ol  {
    color: red;
    
}
li {
    color:blue;
}
.leftBox  img {
	width: 35%;
 	padding-left: 200px;
	
}
.centerBox {
	padding-left: 200px
}
iframe {
	width: 500px ;
	height :340px
}
li:nth-child(even) {
    color: blue;
}
li:nth-child(odd) {
    color: red;
}